
/* 隐藏回到顶部按钮，替换为up酱 */

/*#go-up i {
    display: none;
    background-color: transparent !important;
}

#go-up {
    background-color: transparent !important;
}

#upj {
    transform: translate(-70px, -80px) !important;
}
*/

/*新版3.0.0以上添加up酱置顶ico图标上移问题*/
/*.fas.fa-arrow-up {
    line-height: 2;
}
*/
/* 页脚透明 */
#footer{
  background: transparent!important;
}

div#post{
  background: rgba(255, 255, 255, 0.9);
}
div#page{
  background: rgba(255, 255, 255, 0.9);
}
div#archive{
  background: rgba(255, 255, 255, 0.9);
}
div#tag{
  background: rgba(255, 255, 255, 0.9);
}
div#category{
  background: rgba(255, 255, 255, 0.9);
}