
div#post{
  background: rgba(255, 255, 255, 0.9) !important;
}
div#page{
  background: rgba(255, 255, 255, 0.9) !important;
}
div#archive{
  background: rgba(255, 255, 255, 0.9) !important;
}
div#tag{
  background: rgba(255, 255, 255, 0.9) !important;
}
div#category{
  background: rgba(255, 255, 255, 0.9) !important;
}
